#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

body {
  font-size: 1.5em;
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

.card {
  width: 100%;
}

.dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(180deg);
}