.resp-list-testimonial-group > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.resp-list-testimonial-group > .row > .testGroupCol {
    display: inline-block;
}

.testGroupCol { 
    padding: 10px; 
    background: lightGray; 
    border-top-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px
}

.addButton {
    margin: 10px;
    padding: 10px;
    width: 100px;
    /* height: 50px; */
}

.input-label {
    width: 33%;
}